# The Audit Planning Agent - Draft Notebook

## Stage 1 - Ingestion
Ingesting trial balance and general ledger before mapping into a full fledge financial report

In [2]:
from pathlib import Path
from typing import Dict

import pandas as pd
from IPython.display import Markdown, display

try:
    NOTEBOOK_DIR = Path(__file__).resolve().parent
except NameError:  # pragma: no cover - jupyter magic
    NOTEBOOK_DIR = Path.cwd()

REPO_ROOT = NOTEBOOK_DIR.parent
DATA_DIR = REPO_ROOT / "data"
DATASETS: Dict[str, str] = {
    "Previous year trial balance": "TB_2024.xlsx",
    "Current year trial balance": "TB_2025.xlsx",
    "Previous year general ledger": "GL_30Sept2024.xlsx",
    "Current year general ledger": "GL_30Sept2025.xlsx",
}


def load_dataframes(dataset_map: Dict[str, str]) -> Dict[str, pd.DataFrame]:
    """Read all Excel files that participate in Stage 1 ingestion."""
    frames: Dict[str, pd.DataFrame] = {}
    for label, filename in dataset_map.items():
        path = DATA_DIR / filename
        if not path.exists():
            raise FileNotFoundError(f"{path} does not exist. Check Stage 1 dataset files.")
        frames[label] = pd.read_excel(path)
    return frames


def preview_dataframe(name: str, df: pd.DataFrame, sample_rows: int = 5) -> None:
    """Render highlights for each ingested DataFrame."""
    display(Markdown(f"### {name}"))
    display(
        Markdown(
            f"- Shape: {df.shape}\n"
            f"- Columns: {len(df.columns)}\n"
            f"- Memory (bytes): {df.memory_usage(deep=True).sum():,}"
        )
    )
    display(Markdown("**Column overview**"))
    overview = (
        pd.DataFrame(
            {
                "dtype": df.dtypes.astype(str),
                "non-null": df.notna().sum(),
                "unique": df.nunique(dropna=False),
            }
        )
        .reset_index()
        .rename(columns={"index": "column"})
    )
    display(overview)
    display(Markdown("**Sample rows**"))
    display(df.head(sample_rows))
    display(Markdown("**Numeric summary**"))
    numeric_summary = df.describe(include="number").T
    if not numeric_summary.empty:
        display(numeric_summary)
    else:
        display(Markdown("_No purely numeric columns to summarize._"))


ingested_frames = load_dataframes(DATASETS)

for dataset_name, dataframe in ingested_frames.items():
    preview_dataframe(dataset_name, dataframe)

### Previous year trial balance

- Shape: (137, 13)
- Columns: 13
- Memory (bytes): 35,898

**Column overview**

           column    dtype  non-null  unique
0      Account No  float64       136     137
1     Description   object       137     127
2        Category   object       136       3
3      Opening Dr  float64        33      20
4      Opening Cr  float64        20      11
5              Dr  float64       120      85
6              Cr  float64        82      61
7      Closing Dr  float64        31      21
8      Closing Cr  float64        23      13
9   Account to FS  float64       136       3
10     SubAccount  float64       136       3
11          Class  float64       136       5
12     Số dư c.nợ  float64       136       3

**Sample rows**

,Account No,Description,Category,Opening Dr,Opening Cr,Dr,Cr,Closing Dr,Closing Cr,Account to FS,SubAccount,Class,Số dư c.nợ
0,112.0,Tiền gửi ngân hàng,BS,6.605748e+09,NaN,1.112731e+10,1.146231e+10,6.270754e+09,NaN,1.0,0.0,1.0,0.0
1,1121.0,Tiền VNĐ gửi ngân hàng,BS,8.978686e+08,NaN,7.698427e+09,6.862600e+09,1.733696e+09,NaN,0.0,0.0,2.0,0.0
2,11211.0,Tiền VNĐ gửi ngân hàng_Mizuho_H15-795-022091,BS,8.978686e+08,NaN,7.698427e+09,6.862600e+09,1.733696e+09,NaN,0.0,1.0,3.0,0.0
3,1122.0,Tiền ngoại tệ gửi ngân hàng,BS,5.707880e+09,NaN,3.428885e+09,4.599707e+09,4.537058e+09,NaN,0.0,0.0,2.0,0.0
4,11222.0,Tiền USD tại Mizuho_Saving Account_F15-795-022083,BS,5.707880e+09,NaN,3.428885e+09,4.599707e+09,4.537058e+09,NaN,0.0,1.0,3.0,0.0

**Numeric summary**

,count,mean,std,min,25%,50%,75%,max
Account No,136.0,8.044265e+04,1.889246e+05,112.0,1.326000e+03,6337.0,3.338450e+04,6.427090e+05
Opening Dr,33.0,1.550979e+09,3.072601e+09,91360.0,1.015951e+08,148099200.0,8.978686e+08,1.441237e+10
Opening Cr,20.0,2.158972e+09,5.091790e+09,18622374.0,2.442223e+07,30373709.0,1.589145e+08,1.441237e+10
Dr,120.0,1.853732e+09,7.062774e+09,-653330658.0,9.008053e+06,175738834.5,1.025226e+09,7.421466e+10
Cr,82.0,2.710060e+09,8.437397e+09,-26002382.0,1.003260e+07,733929142.0,2.374799e+09,7.421466e+10
Closing Dr,31.0,1.687735e+09,3.148784e+09,9206375.0,3.932000e+07,335576938.0,1.260622e+09,1.470562e+10
Closing Cr,23.0,1.926042e+09,4.812192e+09,3353372.0,2.845237e+07,46657293.0,3.599379e+08,1.470562e+10
Account to FS,136.0,2.205882e-01,4.161762e-01,0.0,0.000000e+00,0.0,0.000000e+00,1.000000e+00
SubAccount,136.0,6.176471e-01,4.877586e-01,0.0,0.000000e+00,1.0,1.000000e+00,1.000000e+00
Class,136.0,2.191176e+00,8.120820e-01,1.0,2.000000e+00,2.0,3.000000e+00,4.000000e+00
Số dư c.nợ,136.0,1.029412e-01,3.050054e-01,0.0,0.000000e+00,0.0,0.000000e+00,1.000000e+00

### Current year trial balance

- Shape: (134, 13)
- Columns: 13
- Memory (bytes): 35,280

**Column overview**

           column    dtype  non-null  unique
0      Account No    int64       134     134
1     Description   object       134     124
2        Category   object       134       2
3      Opening Dr  float64        31      19
4      Opening Cr  float64        24      13
5              Dr  float64       118      76
6              Cr  float64        79      57
7      Closing Dr  float64        32      19
8      Closing Cr  float64        25      13
9   Account to FS    int64       134       2
10     SubAccount    int64       134       2
11          Class    int64       134       4
12     Số dư c.nợ    int64       134       2

**Sample rows**

,Account No,Description,Category,Opening Dr,Opening Cr,Dr,Cr,Closing Dr,Closing Cr,Account to FS,SubAccount,Class,Số dư c.nợ
0,112,Tiền gửi ngân hàng,BS,6.270754e+09,NaN,2.072626e+10,2.091135e+10,6.085664e+09,NaN,1,0,1,0
1,1121,Tiền VNĐ gửi ngân hàng,BS,1.733696e+09,NaN,1.232443e+10,1.209830e+10,1.959821e+09,NaN,0,0,2,0
2,11211,Tiền VNĐ gửi ngân hàng_Mizuho_H15-795-022091,BS,1.733696e+09,NaN,1.232443e+10,1.209830e+10,1.959821e+09,NaN,0,1,3,0
3,1122,Tiền ngoại tệ gửi ngân hàng,BS,4.537058e+09,NaN,8.401836e+09,8.813051e+09,4.125843e+09,NaN,0,0,2,0
4,11222,Tiền USD tại Mizuho_Saving Account_F15-795-022083,BS,4.537058e+09,NaN,8.401836e+09,8.813051e+09,4.125843e+09,NaN,0,1,3,0

**Numeric summary**

,count,mean,std,min,25%,50%,75%,max
Account No,134.0,8.208931e+04,1.899639e+05,112.0,1.345250e+03,6.337000e+03,3.341175e+04,6.427090e+05
Opening Dr,31.0,1.220728e+09,2.026580e+09,9383477.0,4.608528e+07,1.496866e+08,7.875482e+08,6.290591e+09
Opening Cr,24.0,1.242572e+09,3.853259e+09,3353372.0,2.845237e+07,4.740119e+07,1.664790e+08,1.374600e+10
Dr,118.0,1.942289e+09,3.840442e+09,-725841475.0,1.274204e+07,1.482586e+08,1.322061e+09,2.072626e+10
Cr,79.0,2.909610e+09,4.461241e+09,-234662244.0,3.570380e+07,1.085109e+09,3.391073e+09,2.091135e+10
Closing Dr,32.0,1.159204e+09,2.022243e+09,17417802.0,1.077667e+08,1.881072e+08,6.451359e+08,7.097761e+09
Closing Cr,25.0,1.227605e+09,3.769366e+09,28530574.0,3.828236e+07,1.200096e+08,2.780053e+08,1.374600e+10
Account to FS,134.0,2.164179e-01,4.133476e-01,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
SubAccount,134.0,6.194030e-01,4.873555e-01,0.0,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
Class,134.0,2.201493e+00,8.113838e-01,1.0,2.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00
Số dư c.nợ,134.0,1.044776e-01,3.070269e-01,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

### Previous year general ledger

- Shape: (6487, 18)
- Columns: 18
- Memory (bytes): 5,331,084

**Column overview**

                                     column           dtype  non-null  unique
0                               No. (Index)         float64      1721    1722
1                              Voucher Date  datetime64[ns]      6486     263
2                                Voucher No          object      6487    1702
3                             Customer Code          object      5102     120
4                             Customer Name          object      5102     120
5                               Description          object      6430    1469
6                             Debit Account         float64      6486      96
7                                   TK 3 so         float64      6486      30
8                            Credit Account         float64      6486      96
9                              Doi ung 3 so         float64      6486      30
10                                    Debit           int64      6487    1853
11                                   Credit           int64      6487    1853
12                            Currency Code          object       746       6
13                                  FX Rate         float64       990      80
14  Credit Account Description (Vietnamese)          object      6486      96
15   Debit Account Description (Vietnamese)          object      6486      96
16          Debit Amount (Foreign Currency)         float64      6487     157
17         Credit Amount (Foreign Currency)         float64      6487     157

**Sample rows**

,No. (Index),Voucher Date,Voucher No,Customer Code,Customer Name,Description,Debit Account,TK 3 so,Credit Account,Doi ung 3 so,Debit,Credit,Currency Code,FX Rate,Credit Account Description (Vietnamese),Debit Account Description (Vietnamese),Debit Amount (Foreign Currency),Credit Amount (Foreign Currency)
0,1.0,2023-10-01,PKT2310-1,GRAB,CÔNG TY TNHH GRAB,Inv. 3537068_Phí grab taxi tháng 9.2023/ Grab ...,642706.0,642.0,33111.0,331.0,32307,0,NaN,NaN,Phải trả cho người bán NH: HDKD,Chi phí dịch vụ mua ngoài - Phí taxi,0.0,0.0
1,NaN,2023-10-01,PKT2310-1,GRAB,CÔNG TY TNHH GRAB,Inv. 3537068_Phí grab taxi tháng 9.2023/ Grab ...,33111.0,331.0,642706.0,642.0,0,32307,NaN,NaN,Chi phí dịch vụ mua ngoài - Phí taxi,Phải trả cho người bán NH: HDKD,0.0,0.0
2,NaN,2023-10-01,PKT2310-1,GRAB,CÔNG TY TNHH GRAB,Inv. 3537068_Phí grab taxi tháng 9.2023/ Grab ...,13311.0,133.0,33111.0,331.0,2693,0,NaN,NaN,Phải trả cho người bán NH: HDKD,"Thuế GTGT được khấu trừ của hàng hóa, dịch vụ ...",0.0,0.0
3,NaN,2023-10-01,PKT2310-1,GRAB,CÔNG TY TNHH GRAB,Inv. 3537068_Phí grab taxi tháng 9.2023/ Grab ...,33111.0,331.0,13311.0,133.0,0,2693,NaN,NaN,"Thuế GTGT được khấu trừ của hàng hóa, dịch vụ ...",Phải trả cho người bán NH: HDKD,0.0,0.0
4,2.0,2023-10-01,PKT2310-2,GRAB,CÔNG TY TNHH GRAB,Inv. 3537069_Phí grab taxi tháng 9.2023/ Grab ...,642706.0,642.0,33111.0,331.0,35085,0,NaN,NaN,Phải trả cho người bán NH: HDKD,Chi phí dịch vụ mua ngoài - Phí taxi,0.0,0.0

**Numeric summary**

,count,mean,std,min,25%,50%,75%,max
No. (Index),1721.0,8.610000e+02,4.969542e+02,1.0,431.0,861.00,1291.0,1.721000e+03
Debit Account,6486.0,1.715735e+06,9.754878e+06,151.0,6323.0,24228.00,138818.0,6.277090e+07
TK 3 so,6486.0,3.869015e+02,2.277078e+02,112.0,156.0,334.00,627.0,9.110000e+02
Credit Account,6486.0,1.715735e+06,9.754878e+06,151.0,6323.0,24228.00,138818.0,6.277090e+07
Doi ung 3 so,6486.0,3.869015e+02,2.277078e+02,112.0,156.0,334.00,627.0,9.110000e+02
Debit,6487.0,2.288104e+07,9.230798e+08,-312498590.0,0.0,0.00,1619858.5,7.421466e+10
Credit,6487.0,2.288104e+07,9.230798e+08,-312498590.0,0.0,0.00,1619858.5,7.421466e+10
FX Rate,990.0,1.181743e+04,1.235653e+04,0.0,0.0,175.31,24650.0,2.547300e+04
Debit Amount (Foreign Currency),6487.0,4.530394e+02,1.868118e+04,-48070.0,0.0,0.00,0.0,1.469433e+06
Credit Amount (Foreign Currency),6487.0,4.530394e+02,1.868118e+04,-48070.0,0.0,0.00,0.0,1.469433e+06

### Current year general ledger

- Shape: (7877, 19)
- Columns: 19
- Memory (bytes): 7,451,942

**Column overview**

                                     column           dtype  non-null  unique
0                               No. (Index)         float64      1790    1791
1                                      Date  datetime64[ns]      7876     251
2                               Fiscal Year          object      7877       2
3                                Voucher No          object      7793    1764
4                             Customer Code          object      6054     110
5                             Customer Name          object      6052     109
6                               Description          object      7876    1669
7                             Debit Account         float64      7876      98
8                                   TK 3 so          object      7877      30
9                            Credit Account         float64      7876      98
10                             Doi ung 3 so          object      7877      30
11                                    Debit           int64      7877    2134
12                                   Credit           int64      7877    2134
13                      Account Description          object      7876      98
14  Credit Account Description (Vietnamese)          object      7876      98
15                                  FX Rate         float64       604      90
16                            Currency Code          object       604       2
17         Credit Amount (Foreign Currency)         float64      7877     135
18          Debit Amount (Foreign Currency)         float64      7877     135

**Sample rows**

,No. (Index),Date,Fiscal Year,Voucher No,Customer Code,Customer Name,Description,Debit Account,TK 3 so,Credit Account,Doi ung 3 so,Debit,Credit,Account Description,Credit Account Description (Vietnamese),FX Rate,Currency Code,Credit Amount (Foreign Currency),Debit Amount (Foreign Currency)
0,1.0,2024-10-01,2025,BC2410-2,MIZUHO,"Ngân hàng MIZUHO BANK, LTD.- Chi nhánh Thành p...",Lãi tiền gửi / Credit interest,11211.0,112,5151.0,515,128631,0,Tiền VNĐ gửi ngân hàng_Mizuho_H15-795-022091,"Lãi tiền gửi, tiền cho vay",NaN,NaN,0.0,0.0
1,NaN,2024-10-01,2025,BC2410-2,MIZUHO,"Ngân hàng MIZUHO BANK, LTD.- Chi nhánh Thành p...",Lãi tiền gửi / Credit interest,5151.0,515,11211.0,112,0,128631,"Lãi tiền gửi, tiền cho vay",Tiền VNĐ gửi ngân hàng_Mizuho_H15-795-022091,NaN,NaN,0.0,0.0
2,2.0,2024-10-01,2025,PN236,QINGHAI,QINGHAI LANTIAN ENVIRONMENTAL PROTECTION TECHN...,Inv. PO2024080003 (CD 106610495610)_Nhập mua h...,1561.0,156,151.0,151,133218000,0,Giá mua hàng hóa,Hàng mua đang đi đường,24670.0,USD,0.0,5400.0
3,NaN,2024-10-01,2025,PN236,QINGHAI,QINGHAI LANTIAN ENVIRONMENTAL PROTECTION TECHN...,Inv. PO2024080003 (CD 106610495610)_Nhập mua h...,151.0,151,1561.0,156,0,133218000,Hàng mua đang đi đường,Giá mua hàng hóa,24670.0,USD,5400.0,0.0
4,3.0,2024-10-01,2025,PN243,RISINGSKY,"RISINGSKY INTERNATIONAL TRADE (SHANGHAI) CO.,LTD.",Inv. E24AC08083UC (CD 106612260750)_Nhập mua h...,1561.0,156,151.0,151,188149500,0,Giá mua hàng hóa,Hàng mua đang đi đường,24750.0,USD,0.0,7602.0

**Numeric summary**

,count,mean,std,min,25%,50%,75%,max
No. (Index),1790.0,8.955000e+02,5.168728e+02,1.0,448.25,895.5,1342.75,1.790000e+03
Debit Account,7876.0,2.869963e+06,1.271710e+07,151.0,11211.00,33111.0,333111.00,6.277090e+07
Credit Account,7876.0,2.869963e+06,1.271710e+07,151.0,11211.00,33111.0,333111.00,6.277090e+07
Debit,7877.0,2.883508e+07,1.287964e+09,-306160956.0,0.00,0.0,1000000.00,1.135670e+11
Credit,7877.0,2.883508e+07,1.287964e+09,-306160956.0,0.00,0.0,1000000.00,1.135670e+11
FX Rate,604.0,1.721316e+04,1.194921e+04,0.0,0.00,25050.0,25790.00,2.646800e+04
Credit Amount (Foreign Currency),7877.0,2.892585e+02,1.321676e+04,-31088.0,0.00,0.0,0.00,1.139245e+06
Debit Amount (Foreign Currency),7877.0,2.892585e+02,1.321676e+04,-31088.0,0.00,0.0,0.00,1.139245e+06